.App {
  text-align: center;
  background: url('assets/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  min-height: 100vh;
}

.Converter {
  background: #2f7d94bd;
  border: 2px #4283a9 solid;
  padding: 16px;
  max-width: 600px;
}

.Header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 75%;
}
.Header a {
    color: white;
    padding: 24px;
    font-weight: 700;
}

.Toto {
  margin-top: 50px;
  background: url('assets/arrow_right.png');
  background-repeat: repeat-x;
  background-size: 50px 50px;
  min-width: 200px;
  min-height: 50px;
}

.DownloadsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NoDownloads{
  background: #3077b5a3;
  color: white;
  padding: 8px;
  border: 3px solid #00ff20b3;
  border-radius: 2px;
  box-sizing: border-box;
  width: 80%;
  margin: 10%;
}

.LoadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoadingCat {
  width: 20%;
  margin: 0 40%;
  padding: 24px;
}
.LoadingText {
  background: #3077b5a3;
  color: white;
  padding: 8px;
  border: 3px solid #00ff20b3;
  border-radius: 2px;
}

.logo {
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.InsertText {
  font-weight: bold;
  color: white;
}

.UrlInput{
  margin: 6px;
}

.UrlTextField{
  width: 100%;
}

@media (max-width: 840px) {
.tappedoutLogo {
}

.cockatriceLogo {
}
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
